@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Open+Sans:wght@500;700&display=swap');

.loginInput{
    margin-top: 20px;
}

.loginField{
    background-color: #E4E7E8;
    border: none;
    width: 250px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-left: 10px;
}

.loginLabel{
    position: relative;
    margin-bottom: 10px;
    margin-left: 50px;
    font-family: 'Open Sans';
}

#formBtn{
    height: 50px;
    width: 250px;
    border: none;
    background-color: #181816;
    margin: 0 auto;
    border-radius: 10px;
}

#formBtn > p{
    color: white;
    font-family: 'Open Sans';
}

#loginCard{
    
    grid-area: b;
    display: grid;
    column-gap: 10px;
    grid-template-areas: "header"
                         "email"
                         "password"
                         "button";
    justify-self: center;
    padding: 40px 50px 50px 50px; /* top right left bottom*/
    height: 440px;
    width: 350px;
    transition: height 0.3s;
}

#signupCard{
    grid-area: b;
    display: grid;
    column-gap: 10px;
    grid-template-areas: "header header"
                        "nome cognome"
                        "email email"
                        "password password"
                        "button button";
    justify-self: center;
    padding: 40px 50px 50px 50px; /* top right left bottom*/
    height: 500px;
    width: 350px;
    transition: height 0.3s;
}

#loginBtn{
    margin-top: 20px;
    width: 100%;
}

#signupHint{
    margin-bottom: 0;
}

#signupHelp{
    margin-top: 20px;
    text-align: center;
}

#signupLink{
    text-decoration: none;
}

#cardHeader{
    grid-area: header;
}

#nomeCtn{
    opacity: 0;
    display: none;
    grid-area: nome;
    transition: opacity display 0.3s;
}

#cognomeCtn{
    justify-self: center;
    display: none;
    width: 125px;
    grid-area: cognome;
    opacity: 0;
    transition: opacity  0.3s;
}

#emailCtn{
    align-self: center;
    grid-area: email;
}

#passwordCtn{
    align-self: center;
    grid-area: password;
}

#btnCtn{
    align-self: center;
    grid-area: button;
}