@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

body{
    background: url('../img/homebg.jpg');
    background-size: cover;
    background-position: center;
}

#homePageLayout{
    display: grid;
    grid-template-areas:'a b';
    height: 100%;
    justify-content: center;
    align-items: center;
    column-gap: 100px;

}

#loginHeader{
    font-family: 'Open Sans';
    font-weight: 500;
    margin: 0;
}

.slogan{   
    grid-area: a;
    justify-self: center;
    font-size: 6vw; 
    font-weight: 700;  
    font-family: 'Open Sans';
    color: white;   
    white-space: nowrap;
    line-height: 100%;
}

#loginInputs{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.loginField{
    background-color: #E4E7E8;
    border: none;
    width: 250px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-left: 10px;
}

.loginLabel{
    position: relative;
    margin-bottom: 10px;
    margin-left: 50px;
    font-family: 'Open Sans';
}

#formBtn{
    height: 50px;
    width: 250px;
    border: none;
    background-color: #181816;
    margin: 0 auto;
    border-radius: 10px;
}
#formBtn > p{
    color: white;
    font-family: 'Open Sans';
}

#loginCard{
    grid-area: b;
    justify-self: center;
    padding: 20px 20px 20px 20px; /* top right left bottom*/
    height: 25vw;
    width: 20vw;
}

@media screen and (max-width: 1400px) {

    .slogan{
        font-size: 84px;
    }

    #loginCard{
        height: 350;
        width: 280px;
    }
    #loginCardCtn{
        justify-content:center;
    }
}

@media screen and (max-width: 992px) {

    .slogan{
        font-size: 10vw;
        align-self: end;
    }

    #loginCard{
        height: 350;
        width: 280px;
    }
    #loginCardCtn{
        justify-content:center;
    }

    #homePageLayout{
        display: grid;
        grid-template-areas: 'a'
                             'b';
    }
}